a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flexdiv {
    display: flex;
    align-items: center;
}
nav{
    padding-inline-start: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
background: #fff;
position: static;
top: 0;
 z-index: 10;
}
.nav-right img {
    width: 25px ;
    margin-right: 25px;
}
#Jack {
    border-radius: 50%;
    width: 35px;
}
#menu {
    width: 20px;
    margin-right: 25px;
}
#logo {
    width: 130px;
    margin-right: 25px;
}
.nav-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
#voice-icon {
    width: 25px;
    margin-left: 10px;
}
#search {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 25px;
}
#input{
    display: flex;
   width: 350px;
   border: 0px solid #ccc;
   border-radius: 0%;
   outline: 0;
   background: transparent;
}
.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #cac4c4;
}